@font-face {font-family: "Gilroy SemiBold"; src: url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.eot"); src: url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.woff") format("woff"), url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.svg#Gilroy SemiBold") format("svg"); }
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
/*     background: linear-gradient(187.26deg, #3B1D60 11.22%, #040D3E 82.28%);
   background-repeat: no-repeat;
    height: 100vh;
    left: 0px;
    top: 0px; */

    background: #040D3E;
}

a{
    text-decoration: none;
}



header {
    background: linear-gradient(187.26deg, #3B1D60 11.22%, #040D3E 82.28%);
   background-repeat: no-repeat;
   position: relative;
   padding-top: 10px;


}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
    
    
}

header .container-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    align-content: center;
    
}

nav a{
    margin-right: 10px;


    text-decoration: none;
    color: #B5B5B5;
    font-family: "Gilroy SemiBold";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

button{
    padding: 8px 25px;
    margin: 4px 3px;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
}

.btn1{
    background-color: transparent;
    color: #F2994A;
    border: 2px solid #F2994A;
    font-family: 'Rubik', sans-serif;
}

.btn2{
    background-color: #F2994A;
    color: white;
    border: 2px solid #F2994A;
    font-family: 'Rubik', sans-serif;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
}

.btn3{
    background-color: #F2994A;
    color: white;
    border: 2px solid #F2994A;
    font-family: 'Rubik', sans-serif;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    width: 157px;
    height: 46px;

}

.btn4{
    background-color: transparent;
    color: #F2994A;
    border: 2px solid #F2994A;
    font-family: 'Rubik', sans-serif;
    margin-left: 20px;
    width: 157px;
    height: 46px;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    line-height: 114%;
    color: #99EFD0;
    display: flex;
    margin-left: 10%;
    margin-top: 80px;
    width: 531px;
    height: 150px;
}

h2{
    font-family: "Gilroy SemiBold";
    font-size: 18px;
    line-height: 122%;
    color: #8476AA;
    margin-left: 10%;
    margin-top: 15px;
    width: 468px;
    height: 44px;
}

h3{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 137%;
    color: #8476AA;
    font-weight: 400;
    width: 380px;
}

h4{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 157%;
    color: #6D6D78;
    font-weight: 400;
    text-decoration: none;
}

.title-main{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.main-img{
    position: absolute;
    left: 45%;
    top: 20%;
   
}
.container-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 10%;
}

.form-title{
    font-family: "Gilroy SemiBold";
    font-size: 24px;
    line-height: 122%;
    color: #8476AA;
    width: 268px;
    height: 49px;
    text-align: center;
    display: inline;
    margin-left: 0px
}

label{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 114%;
    color: #99EFD0;
}

.form-box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: flex-end;
}

.btn-submit{
    background-color: #F2994A;
    color: white;
    border: 2px solid #F2994A;
    font-family: 'Rubik', sans-serif;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    width: 95px;
    height: 35px;

}

.btn-excluir{
    padding: 8px 25px;
    margin: 4px 3px;
    text-decoration: none;
    text-align: center;
}

.btn-excluir::before{

    color:white;
    font-family: 'Font Awesome 5 Free';
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    height: 40px;
    font-weight: 900;
    content: "\f55a";
    cursor: pointer;
    padding-left: 10px;
    border-radius: 3px;
}

.mural-box{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 275px;
    align-content: stretch;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}

.txt-msg{
    font-family: 'Gilroy SemiBold';
    color: antiquewhite;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #3B1D60;
    height: 13vh;
    align-items: center;
    width: 100%;
    bottom: 0px;
}

.estouNoChao{
    font-family: 'Inter', sans-serif;
    color: #99EFD0;
    font-weight: bold;
    cursor: pointer;
}

.estouNoChao::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f7b6";
    padding-right: 10px;

}